<launch>

  <node name="main_state" pkg="main_state" type="main.py" output="screen" args="Cocktail" />
  <node ns="door" name="door_detection" pkg="door_detection" type="door_detection_node">
    <remap from="/scan" to="/laser/scan"/>
  </node>
  <node ns="gesture" name="gesture_detection" pkg="gesture_detection" type="NIHandtracker">
    <remap from="/scan" to="/gesture/point"/>
  </node>
</launch>
