<launch>

  <node name="manipulator" pkg="manipulator" type="manipulator.py" output="screen" />
  <node name="door_detection" pkg="door_detection" type="door_detection" output="screen" />
  <node name="main_state" pkg="main_state" type="cocktail2.py" output="screen" />
  <node name="gesture_detection" pkg="gesture_detection" type="NiHandTracker" output="screen" >
    <remap from="/gesture_raw" to="/gesture/point" />
  </node>
  <include file="$(find pocketsphinx)/launch/cocktail.launch" /> 

</launch>
