<launch>
  <!--<node name="manipulator" pkg="manipulator" type="manipulator.py" output="screen" />-->
<node name="door_detection" pkg="door_detection" type="door_detection" output="screen" />
  <node name="main_state" pkg="main_state" type="GPSR.py" output="screen" />
  <include file="$(find pocketsphinx)/launch/GPSR.launch" /> 
</launch>
