<launch>

    <include file="$(find speech_processing)/launch/followme.launch"/>
    <node ns="door" name="door_detection" pkg="door_detection" type="door_detection_node">
        <remap from="/scan" to="/laser/scan"/>
    </node>
    <node name="main_state" pkg="main_state" type="main.py" output="screen" args="NavigationTask" />
    <node ns="people" name="people_detection" pkg="people_detection" type="people_detection_node">
    </node>

</launch>