<launch>

  <node name="main_state" pkg="main_state" type="shopping.py" output="screen" />
  <!--<node name="gesture" pkg="gesture" type="testo" output="screen">
    <param name="path_file" value="$(find gesture)"/>
  </node>-->
  <include file="$(find pocketsphinx)/demo/robocup.launch" /> 

</launch>
